.delete_column
{
    width: 6%;
    margin-left: 2%;
    margin-top: 5%;
    font-size: larger;
}
.delete_icon{
    color: white;
    cursor: pointer;
}

.details_col
{
 width: 33.3333%;
}

.ski_coll
{
 width: 35.3333%;
 margin-right:2% ;
}
.years_col
{
    width: 18%;
    margin-right:2% ;
}
.input_field{
    background-color: #878282;
    color:'#ffffff';
    border-color: #878282;
}
.label_container
{
    color: #ffffff;
}

.button_container
{
    width:100%;
    background-color:#878282 ;
}
.container_dropdown
{
    background-color:#878282 ;

}